
body {
    font-family: Arial, sans-serif;
    background-color: #007BFF;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100vh;
}

.form-container {
    max-width: 900px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px lightblue;
    text-align: center;
    display: block;
}

h2 {
    text-align: center;
    color: cornsilk;
}

.input-container {
    margin: 10px 0;
    color: cornsilk;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid burlywood;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: cyan;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.toggle-form {
    text-decoration:  chartreuse underline;
    color: chartreuse;
    cursor: pointer;
}
